---
layout: page
title: "Projects"
---

Hi, my name is Ruiyang Xu, please call me Rui (extactly pronounced as "ray")! \n

Here on this page are a few samples of my previous work. My [resume]() and {contact information}() can be found through the links. Unfortunately, a majority of my works cannot be shown here for confidentiality reason. But please feel free to reach out if you'd like to discuss my previous experience and skill sets, or just have a quick chat (more than welcomed to ask me about my trips to ~30 states last year powered by Amtrak, greyhound, and at one time, hailing).

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
